{% load cms_tags menu_tags sekizai_tags %}

<footer>
    <div class="container">
        <div class="footer_content">
            <p>
                Свяжитесь с нами для получения более подробной информации!
                <a href="/ru/contacts">➜</a>
            </p>
            <p>
                Или бронируйте апартаменты прямо сейчас на сайте booking.com!
                <a href="https://www.booking.com/hotel/xc/seventh-heaven.ru.html#availability_target">➜</a>
            </p>
        </div>
        <div class="footer_links">
            <ul>
                <li><a class="link_vk" href="https://vk.com/carstvo_aromatov_by"></a></li>
                <li><a class="link_booking" href="https://www.booking.com/hotel/xc/seventh-heaven.ru.html"></a></li>
            </ul>
        </div>
        <div class="copyright">
            <p>© Seventh Heaven. Отдых в Крыму.</p>
            <p>Все права защищены.</p>
        </div>
    </div>
</footer>