{% load cms_tags menu_tags sekizai_tags %}
{% load static %}

<footer>
    <div class="container">
        <div class="footer_content">
            <p>Свяжитесь с нами для получения более подробной информации!</p>
            <a href="/ru/contacts">Перейти</a></div>
        </div>
        <div class="footer_links">
            <ul>
                <li><a class="link_vk" href="https://vk.com/carstvo_aromatov_by"></a></li>
                <li><a class="link_booking" href="https://www.booking.com/hotel/xc/seventh-heaven.ru.html"></a></li>
            </ul>
        </div>
        <div class="copyright">
            <p>© Seventh Heaven. Все права защищены.</p>
        </div>
    </div>
</footer>