{% load cms_tags menu_tags sekizai_tags %}

<footer>
    <div class="container">
        <div class="footer_content">
            <p class="mission">
                Наша цель - сделать Ваш отдых приятным и максимально комфортным. Приезжайте к нам, и в следующем году Вы на станете выбирать место для отдыха.
            </p>
            <p>
                <a href="/ru/contacts">
                    Как с нами связаться?
                </a>
            </p>
            <p>
                <a href="https://www.booking.com/hotel/xc/seventh-heaven.ru.html#availability_target">
                    Бронируйте апартаменты прямо сейчас на сайте booking.com!
                </a>
            </p>
        </div>
        <div class="footer_links">
            <ul>
                <li><a class="link_vk" href="https://vk.com/carstvo_aromatov_by"></a></li>
                <li><a class="link_booking" href="https://www.booking.com/hotel/xc/seventh-heaven.ru.html"></a></li>
            </ul>
        </div>
        <div class="copyright">
            <p>© Seventh Heaven. Отдых в Крыму.</p>
            <p>Все права защищены.</p>
        </div>
    </div>
</footer>