/*main*/
body {
    margin: 0;
    min-width: 240px;
    font-family: Verdana,sans-serif;
    font-size: 14px;
    color: #4c444f;
}
.content {
    overflow: hidden;
}
.main_container {
    background: #f8f8f8;
}
.container {
    width: 960px;
    margin: 0 auto;
}

/*header*/
header {
    position: fixed;
    width: 100%;
    background: linear-gradient(to top, #44cdd5, #5f9691);
    border-bottom: #7a748c 1px solid;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    z-index: 999;
}
header .container {
    padding-top: 10px;
}

/*footer*/
footer {
    margin-top: 30px;
    border-top: #7a748c 1px solid;
}
.footer_content {
    float: left;
    width: 70%;
}
.footer_content .mission {
    font-style: italic;
    border-bottom: #5d8272 1px solid;
    padding-bottom: 15px;
}
.footer_content a:hover {
    text-decoration: underline;
}
.footer_links {
    float: right;
    width: 30%;
}
.footer_links ul {
    list-style: none;
}
.footer_links li {
    float: right;
    margin-left: 10px;
}
.footer_links a {
    width: 35px;
    height: 35px;
    display: inline-block;
    background-size: contain;
}
.footer_links a.link_vk {
    background-image: url("icons/vk.png") ;
}
.footer_links a.link_booking {
    background-image: url("icons/booking.png");
}
.copyright {
    width: 100%;
    overflow: hidden;
}
.copyright p {
    text-align: center;
    line-height: 10px;
    font-size: 12px;
}

/*logo*/
.logo {
    width: 250px;
    float: left;
}
.logo > img {
    width: 100%;
}

/*header_email*/
.header_email {
    text-align: right;
}
.header_email a {color: #a1e81b;
}
.header_email a:hover {
   color: #cfce35;
}

/*nav*/
nav {
    float: right;
    padding-top: 8px;
}
.nav {
    padding-left: 0;
}
.nav li {
    display: inline;
    list-style-type: none;
}
.nav li a {
    margin-left: 10px;
    color: #7A748C;
}
nav li a:visited {
   color: #7A748C;
}
nav li a:hover {
   color: #cf4a4c;
}
.nav li.selected a {
    color: #f4fcff;
}

/*elem*/
p {
    margin: 5px 0;
}
h2 {
    margin: 10px 0;
    padding: 10px;
    background: linear-gradient(to left, rgba(255,255,255,0.00001), #aff1f5);
    color: #717671;
}
h3 {
    margin: 10px 0;
    color: #888d88;
}
h4 {
    margin-bottom: 0;
}
a {
    text-decoration: none;
    color: #5b7033;
}
a:hover {
    color: #8b2525;
}
br {
    clear: both;
}

/*gallery*/
cms-plugin.cms-plugin-text-node,
.cmsplugin_filer_folder_list p {
    display: none !important;
}
.cmsplugin_filer_folder_list ul {
    overflow: hidden;
    list-style-type: none;
    padding: 0;
}
.cmsplugin_filer_folder_list li {
    width: 50%;
    height: 250px;
    float: left;
}
.cmsplugin_filer_folder_list li > img {
    width: 100%;
}
.cmsplugin_filer_folder_list img:hover {
    cursor: pointer;
}
#img_view {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    background-color: rgba(0,0,0,0.85);
}
#img_view:hover,
.img_view_close:hover {
    cursor: pointer;
}
#img_view .container {
    position: relative;
    height: 100%;
}
#img_view img {
    max-width: 95%;
    max-height: 95%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*form*/
#form_mail {
    width: 40%;
    margin: 10px auto;
    border: 1px solid #7d788d;
    background: #ececec;
    padding-top: 10px;
}
#form_mail label:hover,
#form_mail input[type=submit]:hover {
    cursor: pointer;
}
#form_mail label,
#form_mail input {
    display: block;
    width: 80%;
    margin: 3px auto 5px;
}
#form_mail input {
    padding: 5px;
}
#form_mail input[type=textarea] {
    min-height: 100px;
}
#form_mail input[type=submit] {
    width: 100%;
    padding: 15px 0;
    margin: 0;
    border: 0;
    background: #888496;
    color: #edf5f6;
    font-weight: bold;
    font-size: 16px;
}
/*slider*/
.cmsplugin_filer_folder_slideshow {
    width: 40%;
    float: right;
    height: 240px;
    overflow: hidden;
    padding: 0 !important;
    margin: 10px;
    margin-right: 0;
}
.cmsplugin_filer_folder_slideshow > img {
    width: 100%;
    border: 0 !important;
    padding: 0 !important;
}
/*rooms_list*/
@keyframes room_view {
from {display: none;}
to {display: block;}
}
.rooms {
    background: #acdbdf;
    border: #7a748c 2px solid;
    padding: 10px;
}
.rooms dt {
    padding: 5px;
}
.rooms dt:hover {
    color: #cf4a4c;
}
.rooms dd {
    display: none;
    animation: room_view  2s infinite ease-in-out;
}
.rooms .selected_room {
    padding: 5px;
    background: #b7dd7c;
    border: #7a748c 1px solid;
    border-bottom: 0;
    color: #0d3b40;
}
.rooms dt:hover,
.rooms .selected_room:hover {
    cursor: pointer;
}
.rooms dd.selected_room_desc {
    display: block;
    background: #c8ebee;
    margin-left: 0;
    padding: 0 5px;
    border: #7a748c 1px solid;
}

/*adaptive*/
@media screen and (max-width: 980px) {
    .container {
        width: 95%;
    }
}
@media screen and (max-width: 820px) {
    nav {
        width: 100%;
        float: left;
    }
    .cmsplugin_filer_folder_list li {
        height: 200px;
    }
}
@media screen and (max-width: 650px) {
    #form_mail {
        width: 80%;
    }
    .cmsplugin_filer_folder_slideshow {
        float: none;
        width: 90%;
        margin: 10px auto;
    }
    .cmsplugin_filer_folder_list li {
        height: 150px;
    }
}
@media screen and (max-width: 560px) {
    nav {
        float: right;
        width: 30px;
        height: 30px;
        position: relative;
        padding: 0;
        margin-top: 17px;
        background: url("menu_icon.png");
        background-size: contain;
    }
    .nav {
        display: none;
        width: 150px;
        padding: 10px;
        margin: 0;
        top: 30px;
        right: 0;
        position: absolute;
        background: #44ccd4;
        border: #a0a1af 1px solid;
        border-top: 0;
    }
    .nav li {
        display: block;
        text-align: right;
    }
    nav:hover {
        cursor: pointer;
    }
    nav:hover .nav {
        display: block;
    }
    .cmsplugin_filer_folder_list li {
        height: 100px;
    }
}
@media screen and (max-width: 480px) {
    #form_mail {
        width: 80%;
    }
    .footer_content,
    .footer_links {
        width: auto;
        overflow: hidden;
        float: none;
    }
    .footer_links ul {
        overflow: hidden;
        padding: 0;
    }
    .footer_links li {
        float: left;
    }
    .footer_content .mission {
        text-align: center;
    }
}
@media screen and (max-width: 420px) {
    nav {
        margin-top: 0;
    }
    .header_email {
        text-align: left;
        float: left;
    }
}
@media screen and (max-width: 360px) {
    .cmsplugin_filer_folder_list li {
        width: auto;
        height: 200px;
    }
    #form_mail {
        width: 95%;
    }
}
