/*main*/
body {
    margin: 0;
}
.container {
    width: 940px;
    margin: 0 auto
}
.main_container_main {
    background: pink;
}

/*header*/
header {
    position: fixed;
    width: 100%;
    background: linear-gradient(to top, #9a8eb9, #e3e3e3);
    border-bottom: #7a748c 3px solid;
    z-index: 999;
}
header .header_content {
    overflow: hidden;
    padding-top: 10px;
}
header h1 {
    text-align: center;
}

/*footer*/
footer {
    margin-top: 30px;
}
.footer_content {
    float: left;
    width: 70%;
}
.footer_links {
    float: right;
    width: 30%;
}
.footer_links ul {
    list-style: none;
}
.footer_links li {
    float: right;
    margin-left: 10px;
}
.footer_links a {
    width: 35px;
    height: 35px;
    display: inline-block;
    background-size: contain;
}
.footer_links a.link_vk {
    background-image: url("icons/vk.png") ;
}
.footer_links a.link_booking {
    background-image: url("icons/booking.png");
}
.copyright {
    width: 100%;
    overflow: hidden;
}
.copyright p {
    text-align: center;
}

/*logo*/
.logo {
    width: 250px;
    float: left;
}
.logo > img {
    width: 100%;
}

/*nav*/
nav {
    float: right;
    padding-top: 20px;
}
.nav {
    padding-left: 0;
}
.nav li {
    display: inline;
    list-style-type: none;
    padding-right: 20px;

.nav li a {
    padding: 26px;
}
.nav li.selected a {
    color: #7A748C;
    padding: 10px;
    background: #f4fcff;
    border-radius: 20px;
    border: #7A748C 3px solid;
}

/*elem*/
a {
    text-decoration: none;
}

/*gallery*/
cms-plugin.cms-plugin-text-node,
.cmsplugin_filer_folder_list p {
    display: none !important;
}
.cmsplugin_filer_folder_list ul {
    overflow: hidden;
    list-style-type: none;
    padding: 0;
}
.cmsplugin_filer_folder_list li {
    width: 50%;
    height: 250px;
    float: left;
}
.cmsplugin_filer_folder_list li > img {
    width: 100%;
}
.cmsplugin_filer_folder_list img:hover {
    cursor: pointer;
}
#img_view {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    background-color: rgba(0,0,0,0.85);
}
#img_view:hover,
.img_view_close:hover {
    cursor: pointer;
}
#img_view .container {
    position: relative;
    height: 100%;
}
#img_view img {
    max-width: 95%;
    max-height: 95%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*form*/
#form_mail {
    width: 50%;
    margin: 0 auto;
    border: 3px solid lightblue;
}
#form_mail label:hover,
#form_mail input[type=submit]:hover {
    cursor: pointer;
}
#form_mail label,
#form_mail input {
    display: block;
    width: 80%;
    margin: 3px auto 5px;
    padding: 10px 5px;
}
#form_mail input[type=submit] {
    width: 100%;
    padding: 20px 0;
    margin: 0;
    border: 0;
    background: lightblue;
}
/*slider*/
.cmsplugin_filer_folder_slideshow {
    height: 550px;
    overflow: hidden;
    padding: 0 !important;
    margin-top: 10px;
}
.cmsplugin_filer_folder_slideshow > img {
    border: 0 !important;
    padding: 0 !important;
}